*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    overflow-x: hidden;
}
nav{
    background-image: linear-gradient(to right,white,#a9ffff,#7fffff);
    border-bottom:#036b76 2px solid;
}
.dog-logo{
    width: 35px;
}
.pet-shop{
    color: black;
    margin-left: 0.3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}
.bird-logo{
    width: 35px;
}
.nav-links{
    color: black !important;
    padding: 0px;
    display: flex;
    align-items: center;
}
.nav-links:hover{
    border-bottom:1.5px #3fdada solid;
    transition: 0.4s !important;
}
.search-button{
    margin-right: 0.5rem;
    color: white !important;
    background-color: rgb(0, 0, 0);
    border: black solid 1.3px ;
    border-radius:0.25rem ;
color: black;
}
.search-button:hover{
    background-color: #68efef;
    color: black !important;
}
.head-title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.head-text{
    color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
}
.go-shop-btn{
background-color: #0ce6e6;
color: black;
font-family: sans-serif;
font-weight: 500;
}
.delivery-text{
    color: black;
}
.delivery{
    height: 40px;
}

.shop{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.card-1-img,.card-2-img,.card-3-img,.card-4-img,.card-5-img,.card-6-img{
    transition: 0.7s ease-in-out;
}
.card-1-img:hover,.card-2-img:hover,.card-3-img:hover,.card-4-img:hover,.card-5-img:hover,.card-6-img:hover{
    transform: scale(.9);
}
.a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    
}